{
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "importOrder": ["^react(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
